* {
    margin: 0;
    padding: 0;
}
body {
    background-color: bisque;
}
.slider {
    display: flex;
    width: 37.5rem;
    height: 26.25rem;
    overflow: hidden;
    border: .35rem solid black;
    margin:0 auto;
    /* margin: 10vh 20vw 3vh 20vw; */
}
.slides {
    display: inline-flex;
    transition: all .6s ease;
}
/* .middle {
    position: relative;
    transform: translateX(50%, 50%);
} */
/* .slide.first {
    margin-left: 0vw;
} */
.slide {
    width: 100%;
}

#w1:checked ~ .slides {
    margin-left: 0;
}
#w2:checked ~ .slides {
    margin-left: -100%;
}
#w3:checked ~ .slides {
    margin-left: -200%;
}
#w4:checked ~ .slides {
    margin-left: -300%;
}
.navigation {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: -2vh;
}
.bar {
    height: 0.5rem;
    width: 1.875rem;
    margin: 0.4rem;
    cursor: pointer;
    background-color:#ffee00;
    opacity: .5;
    border-radius: 1rem;
    transition: all .3s ease;
}

input[name="sld"] {
    display: none;
} 

.area-for-text {
    width: 37.5rem;
    height: 8.25rem;
    overflow: hidden;
    border: .35rem solid black;
    margin: 2rem auto;
    background: #6bdef6;
}

.text {
    display: inline-flex;
    align-items: center;
    transition: all .6s ease; 
}
.text > p {
    width: 37.5rem;
    margin-top: 3vh;
}

#w1:checked ~ .text > p {
    margin-left: 0;
}
#w2:checked ~ .text > p {
    margin-left: -100%;
}
#w3:checked ~ .text > p {
    margin-left: -200%;
}
#w4:checked ~ .text > p {
    margin-left: -300%;
}